@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  #resume-preview, #resume-preview * {
    visibility: visible;
  }
  #resume-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
